body {
	background-color: #FFF8DC;
}



h1 {
	color: #333333;
}

h2 {
	color: #666699;
}

h3 {
	color: #993399;
}

h6 {
	color: #333366;
}

a {
	color: #CC3333;
}
table {
      background-color:#D2691E;
}